<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
   <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Skriv så spelar vi</title>
</head>

<body>
  <nav class="nav navbar navbar-expand-sm">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Skriv så spelar vi</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" href="/">Hem</a></li>
        <li class="nav-item"><a class="nav-link" href="/request">Önska en låt!</a></li>
        <li class="nav-item"><a class="nav-link" href="/list">Spellista</a></li>
        <% if (adminauth) { %>
          <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
          <li class="nav-item">
            <a class="btn logout-button" href="/logout">Avsluta sessionen och logga ut</a>
          </li>
         <% } else { %>
           <li class="nav-item">
             <a class="btn logout-button" href="/admin">Logga in</a>
           </li>
        <% } %>

    </div>
    </ul>
    </div>
  </nav>
  <main class="container">
