<%- include("partials/header"); -%>

<div class="page-heading">
  <h1>Välkommen!</h1>
      <p>Här på <em>Skriv så spelar vi</em> lever vi efter devisen "Säg det med en sång". Så önska en låt, skicka en hälsning, slå dig ned vid högtalaren och låt musiken ta vid där orden inte räcker till!</p>
</div>

<h2>Nu spelas</h2>
<div class="playlist">
    <%- include("partials/playing"); -%>
</div>

<%- include("partials/footer"); -%>
