<%- include("partials/header"); -%>
<div class="page-heading">
<h1>Spellista</h1>
</div>

<div class="playlist">
  <h2>Nu spelas</h2>
  <%- include("partials/playing"); -%>
</div>

<div class="playlist">
<h2>Redan spelade</h2>
<%- include("partials/played"); -%>
</div>
<%- include("partials/footer"); -%>
